@import '../colors';

nav { 
    position: fixed; 
    background: $midnightBlue; 
    width: 100vw;
    
    > div {
        display: inline-block;
    }

    > .new {
        padding: 12px;
        background: $peterRiver;

        > span {
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    > .profile {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        
        > span {
            font-size: 24px;
            color: #fff;
        }
    }
    > ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        > li {
            display: inline-block;
            margin: 0px 16px;

            > a {
                font-size: 18px;
                color: $clouds;
            }
        }
        > li:nth-child(1) {
            margin-left: 0;
        }
    }
}